<link rel="manifest" href="{{ "/assets/images/favicon/site.webmanifest" | prepend: site.baseurl | prepend: site.url }}">
<link rel="icon" href="{{ "/assets/images/favicon/favicon.ico" | prepend: site.baseurl | prepend: site.url }}" sizes="any">
<link rel="icon" href="{{ "/assets/images/favicon/icon.svg" | prepend: site.baseurl | prepend: site.url }}" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ "/assets/images/favicon/apple-touch-icon.png" | prepend: site.baseurl | prepend: site.url }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ "/assets/images/favicon/icon-192.png" | prepend: site.baseurl | prepend: site.url }}">
<link rel="icon" type="image/png" sizes="512x512" href="{{ "/assets/images/favicon/icon-512.png" | prepend: site.baseurl | prepend: site.url }}">
<meta name="msapplication-TileColor" content="#fffff">
<meta name="theme-color" content="#fffff">
